@import "tailwindcss";

input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FF624C;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FF624C;
    cursor: pointer;
    -webkit-appearance: none;
}

.target-input:checked+.custom-check {
    background: #FF624C;
    border-color: #FF624C;
}

.custom-check {
    width: 16px;
    height: 16px;
    border: 1px solid #303030;
    border-radius: 2px;
}

.custom-check span {
    opacity: 0;
}

.target-input:checked+.custom-check span {
    opacity: 1;
}

.pagenumber {
    position: absolute;
    left: 0;
    top: 85px;
}